[Desktop Entry]
Encoding=UTF-8
Name=Link to About BLISS - Bliss documentation
Type=Link
URL=https://bliss.gitlab-pages.esrf.fr/bliss/master/
Icon=mate-fs-bookmark
Name[C]=Bliss documentation
