#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=mate-power-statistics
Icon[C]=mate-power-statistics
Exec=/bliss_demo/bliss/start_silxview.sh
Name[C]=silx view
Name=silx view
